PORT=**********
NODE_ENV=production

DATABASE_URL="mysql://username:password@host:3306/internify_db"

// RSA 256 KEY PAIR FOR JWT SIGNING AND VERIFICATION (bisa digenerate dengan openssl)
JWT_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n{token}\n-----END RSA PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n{token}\n-----END PUBLIC KEY-----


// UNTUK RECAPTCHA, bisa didapatkan di https://www.google.com/recaptcha/admin/create
RECAPTCHA_SECRET_KEY=**********
RECAPTCHA_SITE_KEY=**********

SWAGGER_ENABLED=false

// UNTUK EMAIL SERVICE
AUTH_EMAIL=**********
AUTH_PASSWORD=**********
